@page "/fetchdata"
@inject HttpClient Http
@using VehiclesUI.Services
@using VehiclesUI.Models
@inject VehiclesService VehiclesService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (vehicles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Vehicle ID</th>
                <th>Registration Number</th>
                <th>Connected</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in vehicles)
            {
                <tr>
                    <td>@vehicle.Id</td>
                    <td>@vehicle.VehicleId</td>
                    <td>@vehicle.RegistrationNumber</td>                    
                    <td>@vehicle.Connected</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    Vehicle[] vehicles;

    protected override async Task OnInitAsync()
    {
        vehicles = await VehiclesService.GetVehiclesAsync();        
    }
}
